.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 560px;
}

.links div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}

.links div a {
  font-size: 25px;
  text-decoration: none;
  color: black;
  background-color: #dfe0e1;
  padding: 1em;
  border-radius: 10px;
}

.links div a:hover {
  background-color: lightgray;
}
